<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canal Sugar</title>
    <link rel="stylesheet" href="../public/css/admin2.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<style>
.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.profile-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-box span {
    font-weight: 600;
}

.sidebar--items {
    margin-top: 22px;
}

li {
    padding-top: 10px;
}
.uppercase-text {
    text-transform: uppercase;
}
</style>
<body >

<section class="header">
    <div class="logo">
        <i class="ri-menu-line menu"></i>
        <h2><span>Canal</span> Sugar.</h2>
    </div>
    <div class="header--items"> 
        <div class="dark--theme--btn">
            <i class="ri-notification-2-line"></i>
        </div>
    </div>
</section>

<section class="main">
    <div class="sidebar">
        <ul class="sidebar--items">
            <div class="profile-box">
                <img src="../public/images/<?php echo $_SESSION['image'];?>" alt="Profile Image">
                <span><?php echo $_SESSION["email"]; ?></span>
            </div>

            <!-- Static Navigation Menu -->
            <li>
                <a class="dashboard" href="dashboard.php">
                    <span class="icon"><i class="ri-dashboard-line"></i></span>
                    <div class="sidebar--item">Dashboard</div>
                </a>
            </li>
            <li>
                <a class="appointments" href="appointments.php">
                    <span class="icon"><i class="ri-calendar-check-line"></i></span>
                    <div class="sidebar--item">Sessions</div>
                </a>
            </li>
            <li>
                <a class="patients" href="patients.php">
                    <span class="icon"><i class="ri-user-3-line"></i></span>
                    <div class="sidebar--item">Customers</div>
                </a>
            </li>
            <li>
                <a class="settings" href="settings.php">
                    <span class="icon"><i class="ri-settings-3-line"></i></span>
                    <div class="sidebar--item">Settings</div>
                </a>
            </li>
            <li>
                <a class="logout" href="logout.php">
                    <span class="icon"><i class="ri-logout-box-line"></i></span>
                    <div class="sidebar--item">Logout</div>
                </a>
            </li>
            <!-- End of Static Navigation Menu -->
        </ul>
    </div>
</section>

</body>
</html>
